@model AzureAutomationFormGenerator.Models.AzureRunbookFormViewModel

    @{
        Layout = "_Layout";
    }
<body>
    <vc:azure-runbook-form resource-group="@Model.ResourceGroup" automation-account="@Model.AutomationAccount" runbook-name="@Model.RunbookName"></vc:azure-runbook-form>
</body>






