@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h4>@Html.Raw(Model.ErrorMessage)</h4>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
