/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Array string[] elements */
.array-table {
width: 115%;
}

.array-form {
    margin-left: -5px;
}

input#submitButton {
    margin-left: -5px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

th, td {
    padding: 5px;
    text-align: left;
}

p#jobstatus {
    padding-top: 15px;
    
}

.loader {
    /*border: 16px solid #f3f3f3; /* Light grey */
    /*border-top: 16px solid #3498db;*/ /* Blue */
    /*border-radius: 50%;*/
    /*width: 45px;
    height: 45px;*/
    animation: spin 2s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
}
#loader-aa {

    width: 60%;
}

@keyframes spin {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }

    50% {
        transform: rotate3d(1, 1, 1, 180deg);
    }

    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}