@model AzureRunbookFormViewModel

@{
    Layout = "_Layout";
}
<body>
    <div class="container col-md-5">
        <vc:azure-runbook-form resource-group-name="@Model.ResourceGroup" automation-account-name="@Model.AutomationAccount" runbook-name="@Model.RunbookName" runbook="@Model.Runbook"></vc:azure-runbook-form>
    </div>
</body>






