@model AzureRunbookFormViewModel
@{
    ViewData["Title"] = "Result";
}
<div class="container col-md-5">
    <vc:results automation-account="@Model.AutomationAccount" resource-group="@Model.ResourceGroup" inputs="@Model.ResultsModel.JobInputs"></vc:results>
</div>
